/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #4c1457;
}

.btn {
    border:none;
}

.btn-primary {
    color: #fff;
    background-color: #84149b;
    margin: auto;
    text-align: center;
    border-radius: .25rem;
}

    .btn-primary:hover {
        background-color: #c400ed!important;
        cursor:  pointer;
    }


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px!important;
    font-family: introScript;
    color: #D756F1;
    background-color: #f6f6f6;
}
@media (min-width: 768px) {
  html {
    font-size: 16px!important;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    border-top: 1px solid #84149B !important;
}

    .footer div {
        width: 100%;
        text-align: center;
    }

@font-face{
    font-family: introScript;
    src: url(../lib/fonts/IntroScriptDemo-Medium.otf);
}

.mainContainer {
    font-size: 14px;
    font-family: introScript!important;
    color: #D756F1;
    background-color: #f5f5f5;
}

header {
    border-bottom: 2px solid #84149B;
    height: 50px;
    padding:7px;
    padding-left:15px;
    font-size: 25px;
}

    header .row {
        margin: 0;
    }

    header img {
        height: 35px;
        width:auto;
    }

    header a {
        display: block;
        background-color: #4c1457;
        color: white;
        cursor: pointer;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }


@media (max-width: 470px) {

    header a {
        font-size: 14px;
    }
}

    header a:hover {
        background-color: rgb(132, 20, 155);
        color: white;
    }

    .index-welcome {
        width: 100%;
        text-align: left;
        font-size: 30px !important;
        padding: 15px;
    }

        .index-welcome img {
            width: 30%;
            height: auto;
            margin: auto;
            min-width: 200px;
        }

        .index-welcome .btn-primary {
            margin-top: 30px;
        }

    .modal-body p {
        padding-bottom: 5px;
        margin: 0;
    }

    .modal-body input {
        width: 100%;
        border-radius: 10px;
        border: 1px solid #84149B;
        padding-left: 5px;
    }

        .modal-body input:focus {
            outline: none;
        }

    .jogo-atual-container {
        margin: 0;
    }

    .jogo-atual table {
        width: 100%;
        border: none;
        height: calc(100vh - 200px);
        margin-top: 10px;
    }

        .jogo-atual table tbody td {
            width: 33%;
        }

    .game-purple {
        background-color: rgba(132, 20, 155, 0.10);
    }

    .game-blue {
        background-color: rgba(63, 14, 205, 0.10);
    }

    .game.free {
        cursor: pointer;
    }

    .game.game-blue.free:hover {
        background-color: rgba(63, 14, 205, 0.20);
    }

    .game.game-purple.free:hover {
        background-color: rgba(132, 20, 155, 0.20);
    }

    .game-xis {
        background-image: url(/lib/img/xis.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
    }

    .game-circulo {
        background-image: url(/lib/img/circulo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
    }

    .circulo-hover {
        background-image: url(/lib/img/circulo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        opacity: 0.3;
    }

    .xis-hover {
        background-image: url(/lib/img/xis.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        opacity: 0.3;
    }


    .placar-geral {
        width: 100%;
        margin-top: 10px;
        border: none;
    }

        .placar-geral thead th {
            background-color: #4c1457;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            color: white;
            border-bottom: 1px solid rgba(132, 20, 155, 0.12)
        }

            .placar-geral thead th:first-child {
                background-color: rgb(61, 24, 168);
            }

        .placar-geral tbody td {
            height: 10%;
            border-bottom: 1px solid rgba(132, 20, 155, 0.12)
        }

    .circle-player {
        background-color: rgba(63, 14, 205, 0.10);
    }

    .xis-player {
        background-color: rgba(132, 20, 155, 0.10);
    }

    .circle-player.winner {
        background-color: rgba(63, 14, 205, 0.20);
    }

    .xis-player.winner {
        background-color: rgba(132, 20, 155, 0.20);
    }